.home {
  width: 100%;
  background-image: url('../img/uniqsurface-xvjpZDHoEAo-unsplash.jpg');
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

header {
  padding-top: 24px;
}

header .container .row {
  display: flex;
  align-items: center;
}

header .container .row nav {
  display: flex;
  justify-content: space-between;
}

header a {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 5px #0000004f;
  color: white;
  font-weight: 600;
}

header .row .col-12 {
  font-size: 25px;
  text-transform: uppercase;
}

header nav a {
  font-size: 16px;
}

header a:hover {
  color: white;
  text-decoration: none;
}

.home-main-container {
  padding-top: 235px;
}

.home .home-title {
  font-size: 140px;
  text-shadow: 5px 5px 5px #0000004f;
  font-weight: bold;
  color: white;
}

.home .home-subtitle {
  color: white;
  font-size: 70px;
  text-shadow: 5px 5px 5px #0000004f;
  font-weight: bold;
}

.details section {
  margin-top: 80px;
}

.details h1 {
  font-weight: bold;
  color: #415264;
  margin-bottom: 60px;
  font-size: 70px;
}

.details p {
  font-size: 20px;
}

.details a {
  font-weight: bold;
  font-size: 18px;
  color: #5492d4;
}

.details a:hover {
  text-decoration: none;
}

.details button {
  background-color: white;
  border: 1px solid #415264;
  outline: none;
  color: #5492d4;
  font-weight: bold;
  width: 200px;
  height: 50px;
}

.details .line {
  width: 112px;
  border-bottom: 3px solid #5492d4;
  margin-left: 15px;
}

.details p {
  padding-bottom: 15px;
}

.details img {
  object-fit: cover;
  width: 90%;
  height: 500px;
}

.details .details-left p {
  width: 350px;
}

.details .details-right p {
  width: 500px;
}

footer {
  border-top: 2px solid #415264;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  padding-left: 5px;
  width: 32px;
  height: 32px;
}

footer span {
  color: #415264;
  font-weight: 200;
}
